<!doctype html>
<html>
  <body>
    <firebase-authentication-directive>
      <button ng-click="login()" class="button button-full button-positive">Login</button>
      <button ng-click="logout()" class="button button-full button-outline button-assertive">Logout</button>
      <img ng-show="user" ng-src="http://graph.facebook.com/{{user.uid.split(':')[1]}}/picture"/>
    </firebase-authentication-directive>
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('app/bootstrap');
    </script>
  </body>
</html>